@font-face { font-family: Mentone; src('mentone-semibold.ttf'); }

.content {
  font-family: Mentone;
}


.content ul li,
.content ul li ul li {
  text-align: left;
  font-size: 40px;
  list-style: inside disc none;
}

.content ul li ul li {
  text-indent: 30px;
  color: blue;
}

.content img {
}
